*{
    margin: 0%;
    padding: 0%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color:#535c68;
  height: 50px;
}

.navbar-logo img {
  height: 150px;
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  font-family: 'nunito' , sans-serif;
}

.navbar-links a:hover {
  text-decoration: underline;
  color: #c7ecee;

}

.logreg{
    display: flex;
    gap: 1rem;
    color: white;
    font-family: 'nunito' , sans-serif
}
.logreg a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: 'nunito' , sans-serif
}